<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand navbar-light" href="#">AVATAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <%= image_tag "a5.png", :size => "40x40", alt: "home icon"%>
			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "btn btn-outline-light my-2 my-sm-0"  %>
					 
    </ul>		
 	</div>

</nav>